# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
coverage/
*.lcov

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
android/*.iml
android/.idea/
android/.cxx/
*.keystore
*.jks

# iOS / Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/*.xcuserstate
ios/*.xcuserdata/
ios/.generated/
ios/Flutter/App.framework
ios/build/

# MacOS
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
macos/build/
macos/*.xcuserstate
macos/*.xcuserdata/

# Windows
windows/flutter/ephemeral/
windows/.vs/
windows/GeneratedFiles/
windows/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# VSCode
.vscode/
.history/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Misc
.DS_Store
*.lock
*.log
